{{#each pages}}
<div class="col-xs-6 col-lg-4 page-entries" >
    <button type="button" class="close close-page-button" data-dismiss="alert" aria-label="Close" data-delete-page="{{_id}}"><span data-delete-page="{{_id}}" aria-hidden="true">&times;</span></button>
  <h2>{{pages._entries}}</h2>
</div>
{{/each}}
