$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.navbar {
  background: transparent;
}
.csslider1.cs_handle {
    height: 500px;
    width: 500px;
}
#myCarousel {
  background-color: #777;
}

@media (min-width: 1200px){
  .container {
      width: 1170px;
  }
}

@media (min-width: 992px){
  .container {
      width: 970px;
  }
}
@media (min-width: 768px){
  .container {
      width: 750px;
  }
}

  .col-lg-4 {
      width: 33.33333%;
      margin-left: 50px;
      margin-top: 20px;
  }

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.website-title {
  text-align: center;
}

#sidebar {
  background-color: white;
  position: fixed; // keep fixed to window
  padding: 10px;
  top: 0;
  left: 0; // position to top left of window
  height: 100%;
  width: 100px; //set dimensions
  background: darkslategray;
  border-right: 2px solid black;
  transition: width ease 0.5s; // fluid transition when resizing
}
#sidebar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .sidebar-items {
    margin-bottom: 25px;
  }
}
.material-icons {
  margin-left: 15px;
  color: white;
}
.icon-background {
  border-radius: 100%;
  background-color: gray;
}
.material-icons:hover {
  cursor: pointer;
  color: rgb(0, 240, 0);
}
.username {
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  color: white;
}
.pages-container {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  margin-left: 250px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: transparent;
}
.user-pages {
  border: 2px solid black;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

// html {
// background: transparent repeat-x;
// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+50,e3eaed+50,c8d7dc+100 */
// background: #f2f5f6; /* Old browsers */
// background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 50%, #e3eaed 50%, #c8d7dc 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 50%,#e3eaed 50%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 50%,#e3eaed 50%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */
// }

body {
margin: 0;
padding: 0;
font-family: 'Karla', sans-serif;
color: #7c7c7c;
text-align: center;
// background: transparent no-repeat center top;
// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+50,e3eaed+50,c8d7dc+100 */
// background: #f2f5f6; /* Old browsers */
// background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 50%, #e3eaed 50%, #c8d7dc 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 50%,#e3eaed 50%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 50%,#e3eaed 50%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */


}

#container {
margin: 0px auto;
padding: 0;
width: 696px;
border: none;
text-align: left;
background-repeat: no-repeat;
background-position: bottom;
padding-bottom: 70px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+50,e3eaed+50,c8d7dc+100 */
// background: #f2f5f6; /* Old browsers */
// background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 50%, #e3eaed 50%, #c8d7dc 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 50%,#e3eaed 50%,#c8d7dc 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 50%,#e3eaed 50%,#c8d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */



}
