$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  margin: 15px;
  text-align: center;
}

.carousel {
  height: 300px;
  margin: auto;
  width: 80%;
}

.item {
  background: #808080;
  height: 300px;
  width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

img {
  vertical-align: middle;
}

.marketing, .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
